.section1 {
  background-image: url("https://arid-html.vercel.app/main-file/dist/assets/images/hero/h4.webp");
  width: 100vw;
  height: 80vh; }

.nav-right {
  color: red; }

.header_container {
  justify-content: space-between;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid; }

.header_container_right .header_container_left {
  text-align: center;
  width: 5rem;
  height: 3rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff7C5B; }
  .header_container_right .header_container_left a {
    text-decoration: none;
    color: black; }

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; }
  .nav ul {
    display: flex;
    gap: 20px; }
    .nav ul li {
      list-style: none; }
      .nav ul li a {
        color: black;
        text-decoration: none; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none;
  margin: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.nav-right {
  color: red; }
